<div id="editor"
     @ref="divElement" 
     style="@Style"
     @onkeyup="TriggerAceInstance"
     @onpaste="TriggerAceInstance"
     @onkeydown="TriggerAceInstance"
     @onclick="TriggerAceInstance">
    @CodeContent
</div>