@page "/"
@inject IJSRuntime JS

<div id="editor" style="height:500px; width:100%;">
    function foo(items) {
        var x = "All this is syntax highlighted";
        return x;
    }
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("AceEditorInit");
        }
    }
}

